
/ {
    /* This attempts to wrap the virtual mouse stream */
    virtual_mouse_listener {
        compatible = "zmk,input-processor-listener";
        device = <&zip_xy_scaler 2 1>; 
        /* If this fails to build, it confirms the virtual driver 
           isn't exposed as an input device for listeners */
    };
};
